In [1]:
import os
import pandas as pd
from shutil import copy
data1 = pd.DataFrame(columns=())
filePath = os.getcwd() + '\\Results\\Cluster1'
for i, j, mols in os.walk(filePath):
     for file in mols:
            data1 = data1.append(pd.DataFrame({ 'Name':[file[:-4]],}),ignore_index=True)

     print(data1)

C:\Users\Mars\AppData\Local\Temp\ipykernel_1876\4260304197.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = data1.append(pd.DataFrame({ 'Name':[file[:-4]],}),ignore_index=True)

             Name
0      10338-51-9
1     104060-61-9
2     104901-10-2
3     104926-77-4
4    1089338-38-4
..            ...
237          No.9
238         No.90
239         No.93
240        No.167
241      475-75-2

[242 rows x 1 columns]

In [2]:
name=pd.read_excel('F:\\Paper\\Code\\物质结构式及其信息来源.xlsx', usecols='F:G')

In [3]:
name

             CAS号  Unnamed: 6
0        487-41-2         NaN
1        327-97-9         NaN
2        299-42-3         NaN
3        479-41-4         NaN
4      56505-80-7         NaN
..            ...         ...
483  2566977-81-7         NaN
484        No.237         NaN
485        No.238         NaN
486        No.239         NaN
487        No.240         NaN

[488 rows x 2 columns]

In [4]:
name_neo=name.dropna(axis=1, how='all')
print(name_neo)

             CAS号
0        487-41-2
1        327-97-9
2        299-42-3
3        479-41-4
4      56505-80-7
..            ...
483  2566977-81-7
484        No.237
485        No.238
486        No.239
487        No.240

[488 rows x 1 columns]

In [5]:
name_neo = name_neo.iloc[66:488,:]

In [6]:
name_neo

             CAS号
66   1351413-48-3
67    150034-06-3
68   1374027-97-0
69     76235-89-7
70   1350967-49-5
..            ...
483  2566977-81-7
484        No.237
485        No.238
486        No.239
487        No.240

[422 rows x 1 columns]

In [7]:
name_neo=name_neo.values
data1=data1.values

In [8]:
CXM = []
for i in name_neo:
    if i in data1:
        i = i.tolist()
        CXM.append(i)
        print(i)

['2238845-47-9']
['61828-53-3']
['877673-99-9']
['84294-90-6']
['449728-44-3']
['1588494-99-8']
['1089338-38-4']
['1450711-74-6']
['1450711-75-7']
['No.9']
['No.10']
['84294-89-3']
['462611-31-0']
['92911-82-5']
['2310256-19-8']
['69809-24-1']
['357637-15-1']
['2098260-23-0']
['449728-41-0']
['449728-43-2']
['449728-42-1']
['No.21']
['1450711-79-1']
['626235-06-1']
['No.24']
['449728-45-4']
['2067334-18-1']
['No.27']
['No.28']
['No.29']
['1404479-51-1']
['125092-36-6']
['No.32']
['No.33']
['1450711-76-8']
['1580547-33-6']
['1450711-77-9']
['1450711-78-0']
['84294-87-1']
['84294-88-2']
['111286-05-6']
['1980043-73-9']
['128922-70-3']
['1404479-52-2']
['1580402-07-8']
['1361543-70-5']
['1361543-71-6']
['2098260-22-9']
['2369042-86-2']
['No.51']
['1374027-99-2']
['No.53']
['1980043-71-7']
['2225116-91-4']
['2170997-56-3']
['449728-40-9']
['1800100-19-9']
['2170997-55-2']
['1401718-63-5']
['No.61']
['2369042-87-3']
['1802143-09-4']
['2170997-59-6']
['2170997-60-9']
['No.66']
['117596-92-6']
['863771-27-1']
['No.71']
['2230722-54-8']
['1361543-72-7']
['No.74']
['2241038-36-6']
['1800100-20-2']
['No.78']
['1361543-66-9']
['1404479-50-0']
['1361543-68-1']
['No.82']
['2252262-03-4']
['1361543-67-0']
['1361543-69-2']
['2182600-57-1']
['626236-07-5']
['No.88']
['No.89']
['No.90']
['1401718-69-1']
['No.93']
['1401718-70-4']
['1237537-52-8']
['1237537-53-9']
['2252262-07-8']
['1404479-45-3']
['69809-22-9']
['104060-61-9']
['123363-31-5']
['135308-81-5']
['2098379-63-4']
['135308-83-7']
['104926-77-4']
['1404479-49-7']
['142628-23-7']
['142628-22-6']
['104901-10-2']
['123278-01-3']
['1404479-46-4']
['2567881-08-5']
['2098379-66-7']
['No.116']
['2098379-67-8']
['2098379-62-3']
['2098379-68-9']
['1236273-32-7']
['1404479-44-2']
['1404479-47-5']
['1404479-48-6']
['No.124']
['No.125']
['2098379-69-0']
['2098379-64-5']
['1401718-65-7']
['1401718-64-6']
['1401718-66-8']
['1980043-77-3']
['1800100-21-3']
['2098379-72-5']
['2098379-73-6']
['No.143']
['2098379-74-7']
['No.145']
['No.146']
['No.147']
['No.148']
['858927-82-9']
['858927-83-0']
['858927-84-1']
['265135-22-6']
['2563610-20-6']
['1361543-73-8']
['No.155']
['159180-88-8']
['2172834-42-1']
['1642142-55-9']
['112649-07-7']
['2305040-71-3']
['2268039-25-2']
['2305040-72-4']
['112664-27-4']
['121795-57-1']
['113963-56-7']
['No.166']
['No.167']
['No.168']
['No.169']
['No.170']
['No.171']
['No.172']
['No.173']
['No.174']
['No.175']
['No.176']
['No.177']
['No.178']
['No.179']
['No.180']
['No.181']
['No.182']
['No.183']
['No.184']
['No.185']
['No.186']
['No.187']
['2265220-50-4']
['2265220-51-5']
['2265220-52-6']
['2265220-53-7']
['2265220-48-0']
['2265220-49-1']
['2265220-57-1']
['2265220-58-2']
['2305040-67-7']
['2305040-68-8']
['138822-70-5']
['2170936-15-7']
['2170936-16-8']
['No.202']
['No.203']
['No.204']
['2170936-05-5']
['2170936-17-9']
['2170936-06-6']
['No.208']
['2170936-07-7']
['2170936-18-0']
['2170936-08-8']
['2170936-09-9']
['2170936-10-2']
['2170936-19-1']
['No.215']
['2170936-13-5']
['2170936-14-6']
['2170936-11-3']
['2170936-12-4']
['2170936-20-4']
['No.221']
['No.222']
['No.223']
['No.224']
['No.230']
['2566976-58-5']
['2566977-81-7']
['No.237']
['No.238']
['No.239']
['No.240']

In [9]:
len(CXM)

215

In [10]:
CXM = pd.DataFrame(CXM)
CXM

                0
0    2238845-47-9
1      61828-53-3
2     877673-99-9
3      84294-90-6
4     449728-44-3
..            ...
210  2566977-81-7
211        No.237
212        No.238
213        No.239
214        No.240

[215 rows x 1 columns]

In [11]:
CXM_file = []
for i in range(215):
    CXM_file.append(CXM.values[i,0])
    print(CXM.values[i,0])

dir = os.getcwd() + '\\沉香木抗病毒成分化合物'
for file in CXM_file:
    file = file + '.mol'
    copy(os.path.join(filePath, file), dir)

2238845-47-9
61828-53-3
877673-99-9
84294-90-6
449728-44-3
1588494-99-8
1089338-38-4
1450711-74-6
1450711-75-7
No.9
No.10
84294-89-3
462611-31-0
92911-82-5
2310256-19-8
69809-24-1
357637-15-1
2098260-23-0
449728-41-0
449728-43-2
449728-42-1
No.21
1450711-79-1
626235-06-1
No.24
449728-45-4
2067334-18-1
No.27
No.28
No.29
1404479-51-1
125092-36-6
No.32
No.33
1450711-76-8
1580547-33-6
1450711-77-9
1450711-78-0
84294-87-1
84294-88-2
111286-05-6
1980043-73-9
128922-70-3
1404479-52-2
1580402-07-8
1361543-70-5
1361543-71-6
2098260-22-9
2369042-86-2
No.51
1374027-99-2
No.53
1980043-71-7
2225116-91-4
2170997-56-3
449728-40-9
1800100-19-9
2170997-55-2
1401718-63-5
No.61
2369042-87-3
1802143-09-4
2170997-59-6
2170997-60-9
No.66
117596-92-6
863771-27-1
No.71
2230722-54-8
1361543-72-7
No.74
2241038-36-6
1800100-20-2
No.78
1361543-66-9
1404479-50-0
1361543-68-1
No.82
2252262-03-4
1361543-67-0
1361543-69-2
2182600-57-1
626236-07-5
No.88
No.89
No.90
1401718-69-1
No.93
1401718-70-4
1237537-52-8
1237537-53-9
2252262-07-8
1404479-45-3
69809-22-9
104060-61-9
123363-31-5
135308-81-5
2098379-63-4
135308-83-7
104926-77-4
1404479-49-7
142628-23-7
142628-22-6
104901-10-2
123278-01-3
1404479-46-4
2567881-08-5
2098379-66-7
No.116
2098379-67-8
2098379-62-3
2098379-68-9
1236273-32-7
1404479-44-2
1404479-47-5
1404479-48-6
No.124
No.125
2098379-69-0
2098379-64-5
1401718-65-7
1401718-64-6
1401718-66-8
1980043-77-3
1800100-21-3
2098379-72-5
2098379-73-6
No.143
2098379-74-7
No.145
No.146
No.147
No.148
858927-82-9
858927-83-0
858927-84-1
265135-22-6
2563610-20-6
1361543-73-8
No.155
159180-88-8
2172834-42-1
1642142-55-9
112649-07-7
2305040-71-3
2268039-25-2
2305040-72-4
112664-27-4
121795-57-1
113963-56-7
No.166
No.167
No.168
No.169
No.170
No.171
No.172
No.173
No.174
No.175
No.176
No.177
No.178
No.179
No.180
No.181
No.182
No.183
No.184
No.185
No.186
No.187
2265220-50-4
2265220-51-5
2265220-52-6
2265220-53-7
2265220-48-0
2265220-49-1
2265220-57-1
2265220-58-2
2305040-67-7
2305040-68-8
138822-70-5
2170936-15-7
2170936-16-8
No.202
No.203
No.204
2170936-05-5
2170936-17-9
2170936-06-6
No.208
2170936-07-7
2170936-18-0
2170936-08-8
2170936-09-9
2170936-10-2
2170936-19-1
No.215
2170936-13-5
2170936-14-6
2170936-11-3
2170936-12-4
2170936-20-4
No.221
No.222
No.223
No.224
No.230
2566976-58-5
2566977-81-7
No.237
No.238
No.239
No.240